@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}
body {
  padding: 0;
  margin: 0;
  background: url(./assets/backgroundimage.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;


}

.content-img-audio img {
  width: 100%;
 
}
.content-img-audio  {
  width: 200px;
  margin: 35px 0 0 60px;

}
.container {
  /* display: flex; */
  max-width: 1200px;
  margin: 0 auto;
}

.container-chat {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: left;
}

.chat-Historyc {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20%;
  width: 3.5vw;
  height: 3.5vw;
}

.chat-Historyo {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4%;
  width: 30vw;
  height: 45vh;
}

/* ::placeholder {
  color: white;
  text-align: center;
  opacity: 1;
} */

.placeholder1::placeholder {
  color: white;
  opacity: 1;
}

.placeholder2::placeholder {
  color: rgba(219, 168, 66, 255);
  text-align: center;
}

.placeholder3::placeholder {
  color: white;
  opacity: 1;
  font-size: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
.intro{
  width: 60%;
  height: 60vh;
  margin: 0 auto;
  /* padding-top: 160px; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 59px; */
  /* color: white; */
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 200;

  
  
}

.intro img{
  position: relative;
  top: -40px;
}
.intro img{
 
  width: 200px;
}

@media screen and (min-width:0px) and (max-width:600px) {
  .intro{
    font-size: 3vw;
  }
  .conversationreport img{
    width: 70vw;  
    height: 20vw;
  }
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.icon {
  position: relative;
  margin-left: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 20px;
  height: 20px;

  span {
    width: 3px;
    height: 100%;
    background-color: orange;
    border-radius: 3px;
    content: '';
  }
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3);
    /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1);
    /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5);
    /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75);
    /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6);
    /* scale down to 60% */
  }
}

.span-prop {
  width: 10px;
  height: 100%;
  background-color: orange;
  border-radius: 3px;
  animation: bounce 2.2s ease infinite alternate;
  content: '';
}

span {
  &:nth-of-type(2) {
    animation-delay: -2.2s;
    /* Start at the end of animation */
  }

  &:nth-of-type(3) {
    animation-delay: -3.7s;
    /* Start mid-way of return of animation */
  }
}

.ChatBubble {
  position: absolute;
  top: 1vh;
  left: 1vw;
  z-index: 1;
}




.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  /* Ensures loader covers full viewport height */
  background-color: #fffdfd;
  /* You can customize the background color */
  color: #fff;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-container p {
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
  /* Text color */
}







#bars {
  display: flex;
  justify-content: center;
  align-items: center;
/*     background: black; */
}
.record_animation{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar {
  /* background: #52467b; */
  background: rgb(0, 0, 0);
  bottom: 1px;
  height: 3px;
  width: 10px;
  margin: 0px 4px;
  border-radius: 5px;
  animation: sound 0ms -600ms linear infinite alternate;
}

@keyframes sound {
  0% {
     opacity: .35;
      height: 3px; 
  }
  100% {
      opacity: 1;       
      height: 70px;        
  }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 15px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 29px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 43px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 57px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 71px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 85px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 99px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 113px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 127px; animation-duration: 442ms; }

/* KEYFRAMES */

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}





/* PULSE BUBBLES */

.pulse-container {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulse-bubble {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000000;
}

.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}
.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}



/* ===========audio speker container responsive css ============================ */

.record-button {
  padding: 10px 20px;
  background-color: #e07c30;
  border: none;
  border-radius: 15px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
}

.record-button:hover {
  background-color: #216b8d;

}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .record-button {
    width: 210px;
    padding: 8px 16px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .record-button {
    width: 200px;
    padding: 8px 12px;
    font-size: 18px;
  }
}


.restart-button button{
    margin-top:'-20px';
    bottom: '0';
    padding: '10px 40px';
    background-color: '#e07c30';
    border: 'none';
    border-radius: '15px';
    color: '#fff';
    font-size: '15px';
    cursor: 'pointer';
    font-family: 'Poppins, sans-serif';
    font-weight:500;
}